<footer class="footer">
    <hr>
    <div class="container">
        <div class="text-center">
            <div class="social mb-4">
                <h3>Stay in touch</h3>
                <a href="https://www.linkedin.com/in/jackwhurt/"><span class="bi bi-linkedin padding"></span></a>
                <a href="https://github.com/jackwhurt"><span class="bi bi-github padding"></span></a>
                <a href="mailto:jackwhurt@gmail.com"><span class="bi bi-envelope-fill padding"></span></a>
            </div>

            <div class="copyright">
                <p class="mb-0"><small>&copy; Jack Hurt {{ year }}.</small></p>
            </div>
        </div>
    </div>
</footer>